@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
section{
    margin:  15px;
    width: 320px;
    height: 600px;
    background-color: black;
    border-radius: 13px;
    border-radius: 15px;
    box-shadow: 1px -2px 9px 2px rgba(0,0,0,0.75);

}
.navprincipal{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 0.2px solid gray;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.combasicos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    
}
.comandorapido{
    display: inline-block;
    padding: 10px;
    justify-content: space-between;
    color: gainsboro;
}
.special{
    color: rgb(80, 77, 230);
}
span{
    margin-left: 6px;
}
a{
    text-decoration: none;
    display: inline-block;
    align-items: center;
}
a:hover{
    background-color: rgb(236, 236, 236);
    height: 37px;
    width: 305px;
    border-radius: 8px;

}
a:visited{
    color: black;
}
.leyenda
{
    margin: 10px 0px 10px 10px;

}
.tema{
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(216, 215, 215);
    width:100px;
    display: flex;
    cursor: pointer;

}
.flex{
    display: inline-block;
    color: rgb(32, 29, 202);
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

button{
    border: none;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;

}

button :hover{
    border-radius: 8px;
    background-color: rgb(236, 236, 236);
}
select{
    border: 1px solid rgb(236, 236, 236) ;
    height: 30px;
    width: 278px;
    display: flex;
    margin: 9px 0px 8px 20px;
    border-radius: 5px;

    }
    #pt{
        border: 1px solid rgb(201, 200, 200);
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    #pt :hover{
        background-color: rgb(255, 255, 255);
    }
    #pt :active{
        border-radius: 8px;
        color: white;
        background-color: rgba(137, 43, 226, 0.486);
        appearance: none;
    

        
    }
.bi-box-arrow-in-left{
    color: rgb(126, 128, 245);
}
.bi-lightning-charge{
    color: rgb(126, 128, 245);

}
.bi-brightness-high{
    color: rgb(126, 128, 245);

}
.bi-moon{
    color: rgb(126, 128, 245);

}
.bi-pc-display-horizontal{
    color: rgb(126, 128, 245);

}
.lienzo{
    display: flex;
    justify-content: space-evenly;
}
.color{
    height: 26px;
    width: 26px;
    margin: 10px 0px 0px 0px;
    display: inline-block;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 4px;
    cursor: pointer;
}
#verde{
    background-color: rgb(232, 248, 208);
}
#celeste{
    background-color: rgb(197, 255, 255);
}
#amarillo{
    background-color: rgb(255, 255, 152);
}
#rosa{
    background-color: rgb(253, 208, 216);
}